{% extends 'DevschoolBiblioFilmsBundle::layout.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h1>Accueil</h1>
                <p>Bienvenue sur le site Symfony de Devschool</p>
            </div>

        </div>

    </div>

{% endblock %}