{% extends 'DevschoolBiblioFilmsBundle::layout.html.twig' %}

{% block body %}
<div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Cinéma</p>
                <div class="list-group">
                    <a href="{{ path('page_films') }}" class="list-group-item">Films</a>
                    <a href="{{ path('page_realisateurs') }}" class="list-group-item">Réalisateurs</a>
                </div>
            </div>

			<div class="col-md-9">



				<h2>Liste des réalisateurs</h2>
				
				<br />
				
				{% for realisateur in realisateurs %}

				<div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>{{ realisateur.Nom }} </strong> ({{ 2016-realisateur.Age|date('Y') }} ans)<br />
							<br />
							<p>{{ realisateur.Bio }}</p>
							<hr />
							<div class="text-right">
								<a href="cinema-films-realisateur.html" class="btn btn-success">Voir ses films</a>
							</div>
						</div>
                    </div>
				</div>

				{% endfor %}

			</div>

		</div>

</div>

{% endblock %}

